---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="ru">
{% include "head.njk" %}
<body>
{% include "header-nav.njk" %}
{% include "home-hero.njk" %}
{% include "services.njk" %}
{% include "photo-strip.njk" %}
{% include "why.njk" %}
{% include "process.njk" %}
{% include "seo-content.njk" %}
{% include "geo-coverage.njk" %}
{% include "cta.njk" %}
{% include "contact.njk" %}
{% include "footer.njk" %}
<script src="{{ '/assets/js/main.js' | url }}"></script>
</body>
</html>
