---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="ru">
{% include "head.njk" %}
<body>
{% include "header-nav.njk" %}
{% include "home-hero.njk" %}
{% include "services.njk" %}
{% include "photo-strip.njk" %}
{% include "mid-cta.njk" %}
{% include "reviews.njk" %}
{% set ctaButtonLabel = 'Позвонить сейчас' %}
{% set ctaButtonHref = 'tel:' + site.phoneHref %}
{% include "cta.njk" %}
{% include "contact.njk" %}
{% include "footer.njk" %}
{% include "calc-modal.njk" %}
<script src="{{ '/assets/js/main.js' | url }}"></script>
</body>
</html>
