---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{%- set hasPathPrefix = ('/' | url) != '/' -%}
{%- set baseDomain = site.domain -%}
{%- if hasPathPrefix and site.githubPagesDomain -%}
  {%- set baseDomain = site.githubPagesDomain -%}
{%- endif -%}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ baseDomain }}{{ '/' | url }}</loc>
    <lastmod>{{ site.lastmod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
{% for service in services.items %}
  <url>
    <loc>{{ baseDomain }}{{ service.canonicalPath | url }}</loc>
    <lastmod>{{ site.lastmod }}</lastmod>
    <changefreq>{{ service.sitemap.changefreq or 'weekly' }}</changefreq>
    <priority>{{ service.sitemap.priority or '0.8' }}</priority>
  </url>
{% endfor %}
</urlset>
